.button {
  display: inline-block;
  font-weight: 500;
  color: $light-text-color;
  background-color: $main-color;
  border-radius: 10px;
  border: 0;
  background: none;
  padding: 12px 20px;
  cursor: pointer;
  min-height: 40px;
  text-align: center;
  transition: all .15s ease;

  &:hover {
    background-color: $second-color;
  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    cursor: auto;
  }

  @include lView {
    font-size: 16px;
  }
}

.button_white {
  color: $second-color;
  background-color: $light-text-color;

  &:hover {
    background-color: $main-color;
    color: $light-text-color;
  }

  &:active {
    opacity: 0.6;
  }
}

.button_nav {
  background-color: inherit;
  color: $dark-text-color;
  padding: 0;
  min-height: auto;
  padding: 8px 16px;
  transition: all .15s ease;
  font-size: 16px;

  @include mView {
    padding: 12px 20px;
  }

  &:hover {
    background-color: inherit;
    text-decoration: none;

    .button__line {
      &::after {
        transition: all .15s ease;
        width: 0;
      }
    }
  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    cursor: auto;
  }

  .button__line {
    position: relative;

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $dark-text-color;
      transition: all .15s ease;
    }
  }
}

.button_nav.active {
  background-color: $main-color;
  color: $light-text-color;
  text-decoration: none;
  transition: all .15s ease;

  &:hover {
    background-color: $second-color;
  }

  &:active {
    opacity: 0.6;
  }

  .button__line {
    &::after {
      width: 0;
    }
  }
}

.button_language {
  padding: 5px;
  color: $light-text-color;
  background-color: inherit;
  text-transform: uppercase;
  font-weight: 300;
  transition: 0.3s;
  line-height: 1;
  min-height: auto;

  &:hover {
    background-color: inherit;
    text-decoration: underline;
  }

  &:active {
    background-color: inherit;
    text-decoration: underline;
  }

  @include lView {
    color: $dark-text-color;
    background-color: inherit;
  }
}

.button_language.active {
  font-weight: 500;
  color: $dark-text-color;

  &:hover {
    text-decoration: none;
  }

  &:active {
    opacity: 1;
  }

  @include lView {
    color: $main-color;
  }
}

.button_warning {
  padding: 5px 13px;
  color: $warning;
  background-color: inherit;
  transition: 0.3s;
  line-height: 1;
  min-height: auto;
  border-radius: 3px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $warning;
    color: $light-text-color;
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }
}

.button_visually {
  padding: 0;
  margin-left: 30px;
  color: $dark-text-color;
  background-color: inherit;
  transition: 0.3s;
  line-height: 1;
  min-height: auto;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    background-image: url("../img/glasses.svg");
    width: 22px;
    height: 15px;
  }

  &:hover {
    background-color: inherit;
    opacity: 1;

    &::after {
      position: absolute;
      bottom: -2px;
      left: 50%;
      width: 100%;
      height: 1px;
      content: '';
      transition: .15s;
      transform: translateX(-50%);
      background-color: #000;
    }
  }

  &:active {
    opacity: 0.6;
  }
}
