.shadow-line {
  position: relative;
  display: inline-block;
  border: 1px solid transparent;
  transition: all .15s ease;

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    background: linear-gradient(180deg, rgb(16, 80, 158), rgb(22, 115, 230));
    border-radius: 11px;
  }

  &:hover a {
    transform: translate(7px, -7px);
    box-shadow: 1px -1px 3px 0px #eee;
  }
}
