html {
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 310px;
  position: relative;
}

html,
body {
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
a,
textarea,
select {
  &:focus-visible {
    outline: 1px solid #000;
    outline-offset: 3px;
  }
}

img,
source,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  word-break: break-word;
  transition-duration: 150ms;
  text-decoration: none;
  display: block;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;

  @include lView {
    font-size: 24px;
  }
}

h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;

  @include lView {
    font-size: 18px;
  }
}

h4 {
  font-size: 14px;
}

p {
  font-size: 14px;
  line-height: 1.1;

  @include lView {
    font-size: 16px;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

._container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

._wrapper {
  // display: grid;
  // grid-template-rows: auto 1fr auto;
  // height: 100%;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

.lock {
  overflow: hidden;
}

.main {
  @include lView {
    padding-top: 206px;
  }
}
