.about {
  background-color: $bg-section;

  .about__container {
    max-width: 450px;

    @include mView {
      display: grid;
      grid-template-columns: 300px 1fr;
      grid-template-rows: 1fr auto auto;
      gap: 20px;
      max-width: 700px;
    }

    @include lView {
      grid-template-columns: minmax(400px, 650px) minmax(545px, 585px);
      grid-template-rows: auto auto auto;
      max-width: inherit;
      max-width: 1480px;
      column-gap: 40px;
    }
  }

  .about__title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;

    @include lView {
      font-size: 24px;
    }
  }

  .about__text {
    margin: 0 0 15px 0;

    &:last-of-type {
      margin: 0 0 0 0;
    }

  }

  .about__pictures {
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $bg-card;

    @include mView {
      grid-area: 1 / 1 / 2 / 2;
      padding: 0;
      background-color: inherit;
    }

    @include lView {
      grid-area: 1 / 1 / 4 / 2;
    }
  }

  .about__img {
    border-radius: $br;
    width: 100%;
  }

  .about__info {
    padding: 0px 15px 15px 15px;
    background-color: $bg-card;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 15px;

    @include mView {
      grid-area: 1 / 2 / 2 / 3;
      padding: 0;
      background-color: inherit;
      padding: 20px 0;
      margin: 0;
    }

    @include lView {
      grid-area: 1 / 2 / 2 / 3;
      padding: 10px 0 0 0;
    }
  }

  .about__benefits {
    margin-bottom: 20px;

    @include mView {
      grid-area: 2 / 1 / 3 / 3;
      grid-auto-flow: column;
      margin-bottom: 0;
    }

    @include lView {
      grid-area: 2 / 2 / 3 / 3;
      justify-content: flex-start;
    }
  }

  .about__slider {
    // width: 100%;
    // height: 300px;
    // background-color: $main-color;
    // border-radius: $br;

    @include mView {
      grid-area: 3 / 1 / 4 / 3;
    }

    @include lView {
      grid-area: 3 / 2 / 4 / 3;
    }
  }

  .about__slider {
    @include lView {
      padding-bottom: 15px;
    }
  }

  .about__pictures {

    >picture {
      display: block;

      @include lView {
        display: none;
      }
    }

    // overflow: hidden;
    @include lView {
      display: grid;
      gap: 20px;
      position: relative;
      overflow: hidden;
      position: relative;
      align-items: center;
      align-content: center;

      .carousel {
        &:nth-child(2) {
          animation: reversScroll 75s linear infinite;
        }

        &:nth-child(3) {
          animation: deposeScroll 45s linear infinite;
        }
      }
    }
  }
}
