.banners {
  padding-bottom: 20px;
  padding-top: 20px;

  .banners__container {
    @include mView {
      max-width: 860px;
    }

    @include lView {
      max-width: 1300px;
    }
  }

  .banners__list {
    @include reset-list;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    transform: translate3d(0px, 0px, 0px);

    @include mView {
      align-items: center;
    }
  }

  .banners__slider {
    width: 100%;

    @include hView {
      width: 100%;
    }
  }
}
