.consultation {
  background-color: $bg-section;

  .consultation__container {
    max-width: 890px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 152px;
      height: 152px;
      top: 55%;
      right: 20px;
      transform: translateY(-50%);
      background-image: url("../img/question.png");
      background-repeat: no-repeat;
      background-size: cover;

      @include lView {
        width: 202px;
        height: 202px;
        top: 50%;
      }
    }
  }

  .section-title {
    @include mView {
      max-width: 460px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 20px;
    }

    @include mView {
      max-width: 460px;
    }
  }
}
