.logo.footer__logo
  a(href="#").logo
    img(src="img/logo-white.svg" alt="Логотип Белмапо").logo__img
    .logo__name
      p.logo__text Государственное учреждение образования
      p.logo__subtext Белорусская медицинская академия последипломного образования

