ul.social.footer__social.footer__social_line
  li.social__item
    a(href="#").social__link 
      svg(xmlns="http://www.w3.org/2000/svg" width="19" height="17" xml:space="preserve").social__img
        use(xlink:href="img/symbols.svg#tg")
    span.visually-hidden Телеграмм
  li.social__item
    a(href="#").social__link 
      svg(xmlns="http://www.w3.org/2000/svg" width="11" height="19" xml:space="preserve").social__img
        use(xlink:href="img/symbols.svg#fb")
    span.visually-hidden Фейсбук
  li.social__item
    a(href="#").social__link 
      svg(xmlns="http://www.w3.org/2000/svg" width="19" height="19" xml:space="preserve").social__img
        use(xlink:href="img/symbols.svg#inst")
    span.visually-hidden Инстаграмм
  li.social__item
    a(href="#").social__link 
      svg(xmlns="http://www.w3.org/2000/svg" width="19" height="16" xml:space="preserve").social__img
        use(xlink:href="img/symbols.svg#tw")
    span.visually-hidden Твиттер
  li.social__item
    a(href="#").social__link 
      svg(xmlns="http://www.w3.org/2000/svg" width="21" height="16" xml:space="preserve").social__img
        use(xlink:href="img/symbols.svg#yt")
    span.visually-hidden Ютуб 