section.consultation 
  ._container.consultation__container
    h2.consultation__title.section-title Консультация
    p.consultation__text Подробно проконсультируем Вас по всем интересующим вопросам по повышению квалификации и переподготовки, а также вопросам дистанционного тренировочного тестирования!
    button.consultation__btn.button Задать вопрос