section.education 
  ._container
    h2.education__title.section-title Разделы сайта
    ul.education__list
      each education in educations
        li.education__item.shadow-line
          a(href=`${education.url}`).education__link
            .education__img
              svg(xmlns="http://www.w3.org/2000/svg"   xml:space="preserve")
                use(xlink:href=`img/symbols.svg#${education.img}`) 
            h3.education__subtitle #{education.title}
            p.education__text #{education.text}