<!DOCTYPE html>
html(lang='ru')
  - var title = "Belmapo";
  include common/head.pug
  body.body
    ._wrapper
      main.main
        - var banners = [{title: "Научно-исследовательская деятельность", subtitle: "Разработка и внедрение инновационных технологий в практическое здравоохранение и образовательный процесс - наш вклад в медицину будущего. Реализация возможностей для комплексных научно-исследовательских работ по актуальным...", url: "#", img:"slide1-d.jpg", imgs:"slide1-m"}, {title: "Cпорткомплекс БелМАПО", subtitle: "Игровой зал (баскетбол, волейбол, большой теннис). Тренажерный зал и кардио зона. Фитнес-зал. Большой ассортимент спортивного  инвентаря. Обширный перечень тренировочных программ.", url: "#", img:"slide3-d.jpg", imgs:"slide3-m"}, {title: "Обучение в докторантуре, аспирантуре и клинической ординатуре", subtitle: "Постоянное совершенствование профессиональных знаний и практических навыков, получение научной квалификации - новые вершины профессиональной карьеры. Получайте высшую форму профессиональной...", url: "#", img:"slide2-d.jpg", imgs:"slide2-m"}]
        include sections/banners.pug
        - var educations = [{ title: "Соискательство ученого звания", text: "Информация для соискателей ученого звания доцента и профессора", img: "suitcase", url: '#' }, { title: "Стажировка", text: "Образовательные программы стажировки руководящих работников и специалистов системы здравоохранения", img: "check", url: '#' },{ title: "Переподготовка и повышение квалификации", text: "Порядок присвоения квалификационных категорий медицинским, фармацевтическим работникам", img: "raise", url: '#' },{ title: "Переподготовка и повышение валификации", text: "План повышения квалификации и переподготовки руководителей и специалистов здравоохранения Республики Беларусь", img: "arrow", url: '#' },          { title: "Дистанционное обучение", text: "Система дистанционного обучения", img: "document", url: '#' },{ title: "Электронный каталог", text: "Услуги библиотеки БелМАПО", img: "books", url: '#' } ]
        include sections/education.pug
        - var faculties = [{ name: "Терапевтический факультет", url: "#", img: "f1"}, { name: "Педиатрический факультет", url: "#", img: "f2"}, { name: "Хирургический факультет", url: "#", img: "f3"}, { name: "Факультет общественного здоровья и здравоохранения", url: "#", img: "f4"}]
        include sections/faculties.pug
        - var educations = [{ title: "Информация МЗ РБ", text: "Нормативно-методические документы Министерства здравоохранения Республики Беларусь", img: "suitcase", url: '#' }, { title: "Лекарственные средства РБ", text: "Библиотека слайдов лекарственных средств отечественных производителей", img: "check", url: '#' },{ title: "Обращения граждан", text: "Работа с обращениями граждан и исполнение административных процедур в БелМАПО", img: "raise", url: '#' },{ title: "Оплата услуг БелМАПО", text: "Оплата услуг БелМАПО", img: "arrow", url: '#' },{ title: "Здоровый образ жизни", text: "Информационно-образовательные материалы", img: "document", url: '#' },{ title: "Мониторинг качества обучения", text: "Проведение опросов и голосований", img: "books", url: '#' } ]
        include sections/education.pug
        - var partners = [{name: "title1", img: "p1", url: "#"}, {name: "title2", img: "p2", url: "#"}, {name: "title3", img: "p3", url: "#"}, {name: "title4", img: "p4", url: "#"}, {name: "title5", img: "p5", url: "#"},{name: "title6", img: "p6", url: "#"},{name: "title7", img: "p7", url: "#"},{name: "title8", img: "p8", url: "#"}]
        include sections/partners.pug
        include sections/consultation.pug
        - var resources = [{name: "title1", img: "q1", url: "#"}, {name: "title2", img: "q2", url: "#"}, {name: "title3", img: "q3", url: "#"}, {name: "title4", img: "q4", url: "#"}, {name: "title5", img: "q5", url: "#"},{name: "title6", img: "q6", url: "#"},{name: "title7", img: "q7", url: "#"},{name: "title8", img: "q8", url: "#"},{name: "title9", img: "q9", url: "#"}]
        include sections/resources.pug
    script(src="js/main.bundle.js")
