<!DOCTYPE html>
html(lang='ru')
  - var title = "Belmapo";
  include common/head.pug
  body.body
    ._wrapper
      main.main
        - var educations = [{ title: "Соискательство ученого звания", text: "Информация для соискателей ученого звания доцента и профессора", img: "suitcase", url: '#' }, { title: "Стажировка", text: "Образовательные программы стажировки руководящих работников и специалистов системы здравоохранения", img: "check", url: '#' },{ title: "Переподготовка и повышение квалификации", text: "Порядок присвоения квалификационных категорий медицинским, фармацевтическим работникам", img: "raise", url: '#' },{ title: "Переподготовка и повышение валификации", text: "План повышения квалификации и переподготовки руководителей и специалистов здравоохранения Республики Беларусь", img: "arrow", url: '#' },          { title: "Дистанционное обучение", text: "Система дистанционного обучения", img: "document", url: '#' },{ title: "Электронный каталог", text: "Услуги библиотеки БелМАПО", img: "books", url: '#' } ]
        include sections/education.pug
        - var faculties = [{ name: "Терапевтический факультет", url: "#", img: "f1"}, { name: "Педиатрический факультет", url: "#", img: "f2"}, { name: "Хирургический факультет", url: "#", img: "f3"}, { name: "Факультет общественного здоровья и здравоохранения", url: "#", img: "f4"}]
        include sections/faculties.pug
        - var educations = [{ title: "Информация МЗ РБ", text: "Нормативно-методические документы Министерства здравоохранения Республики Беларусь", img: "suitcase", url: '#' }, { title: "Лекарственные средства РБ", text: "Библиотека слайдов лекарственных средств отечественных производителей", img: "check", url: '#' },{ title: "Обращения граждан", text: "Работа с обращениями граждан и исполнение административных процедур в БелМАПО", img: "raise", url: '#' },{ title: "Оплата услуг БелМАПО", text: "Оплата услуг БелМАПО", img: "arrow", url: '#' },{ title: "Здоровый образ жизни", text: "Информационно-образовательные материалы", img: "document", url: '#' },{ title: "Мониторинг качества обучения", text: "Проведение опросов и голосований", img: "books", url: '#' } ]
        include sections/education.pug
        include sections/consultation.pug
        - var resources = [{name: "title1", img: "q1", url: "#"}, {name: "title2", img: "q2", url: "#"}, {name: "title3", img: "q3", url: "#"}, {name: "title4", img: "q4", url: "#"}, {name: "title5", img: "q5", url: "#"},{name: "title6", img: "q6", url: "#"},{name: "title7", img: "q7", url: "#"},{name: "title8", img: "q8", url: "#"},{name: "title9", img: "q9", url: "#"}]
        include sections/resources.pug
    script(src="js/main.bundle.js")
