.adress {
  display: flex;
  color: $light-text-color;
  align-items: center;

  .adress__text {
    margin: 0;
  }

  svg {
    fill: $light-text-color;
    min-width: 25px;
    margin-right: 5px;

    @include lView {
      margin-left: -7px;
    }
  }
}
