.banner {
  background-color: rgb(74, 74, 74);
  border-radius: $br;
  overflow: hidden;
  background-color: $bg-section;
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100px, 160px) 100px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;

  @include mView {
    display: flex;
    align-items: center;
    height: 300px;
    width: 550px;
    padding: 0px 0 0 25px;
  }

  @include lView {
    height: 435px;
    width: 850px;
    max-width: 850px;
    background-image: none;
    padding: 0 0 0 45px;
  }

  @media screen and (max-width: 599px) {
    background-image: inherit !important;
  }

  .banner__info {
    text-align: left;
    z-index: 2;
    background-color: rgba($second-color, 0.95);
    padding: 25px 17px;
    border-radius: 10px;
    height: 100%;
    grid-area: 2 / 1 / 4 / 3;
    display: flex;
    flex-direction: column;
    align-items: self-start;

    @include mView {
      background-color: transparent;
      max-width: 400px;
      padding: 0;
      border-radius: 0;
      height: auto;
    }
  }

  .banner__title {
    color: $light-text-color;
    font-size: 16px;
    font-weight: 500;
    opacity: 0;
    transform: translateX(-30%);
    transition: .3s;
    margin-top: 0;
    margin-bottom: 20px;

    @include mView {
      font-size: 18px;
    }

    @include lView {
      font-size: 24px;
    }
  }

  .banner__subtitle {
    color: $light-text-color;
    font-size: 14px;
    opacity: 0;
    transform: translateX(-30%);
    transition: .3s;
    margin: 0;
    margin-bottom: 20px;

    @include mView {
      font-size: 16px;
    }

    @include lView {
      font-size: 18px;
    }
  }

  .banner__button {
    opacity: 0;
    transform: translateX(-30%);
    transition: .3s;
    margin-top: auto;
  }

  .banner__sub-bg {
    grid-area: 1 / 1 / 3 / 3;
    width: 100%;
    height: 100%;

    picture,
    img {
      height: 100%;
    }

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    @include mView {
      position: absolute;
      top: -97px;
      left: -4%;
      transform: translate(-50%, -50%);
    }

    @include lView {
      top: -45px;
      left: 22%;
    }

    svg {
      display: none;

      @include mView {
        display: block;
        width: 900px;
        height: 900px;
      }
    }
  }
}

.swiper-slide-active,
.swiper-slide-duplicate-active {
  .banner__title {
    opacity: 1;
    transform: translateX(0);
    transition: .3s;
    transition-delay: .3s;
  }

  .banner__subtitle {
    transform: translateX(0);
    opacity: 1;
    transition: .3s;
    transition-delay: .4s;
  }

  .banner__button {
    opacity: 1;
    transform: translateX(0);
    transition: .3s;
    transition: transform .3s .5s, opacity .3s .5s, background-color .3s, color .3s;
  }
}
