.burger {
  background-color: inherit;
  border: 0;
  padding: 10px 2px;
  border-radius: 8px;
  height: 43px;
  cursor: pointer;
  background-color: $second-color;

  .burger__toggle {
    border: none;
    background: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include lView {
    display: none;
  }

  .burger__bar {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background-color: $light-text-color;
    position: relative;

    &::before,
    &::after {
      content: '';
      background-color: $light-text-color;
      position: absolute;
      width: 30px;
      height: 4px;
      border-radius: 5px;
      display: block;
      right: 0;
      transition: all 0.3s ease 0s;
      display: block;
    }

    &::before {
      top: -9px;
    }

    &::after {
      bottom: -9px;
    }
  }
}

.burger_active {
  .burger__bar {
    background: 0 0;

    &::after {
      transform: rotate(45deg);
      bottom: 0;
      top: auto;
    }

    &::before {
      transform: rotate(-45deg);
      bottom: auto;
      top: 0;
    }
  }
}
