.info {
  margin: 0;
  padding: 0;
  @include reset-list;
  color: $light-text-color;
  display: grid;
  gap: 5px;

  @include lView {
    font-size: 16px;
  }

  .info__link {
    display: inline-block;
  }

  .info__link {
    &:hover {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.6;
      text-decoration: underline;
    }
  }
}

.info {
  margin-bottom: 20px;

  &:last-child {
    margin: 0;
  }
}
