.logotype {
  width: 100%;

  @include lView {
    width: auto
  }

  .logotype__modile {
    display: block;

    svg {
      fill: $main-color;
    }

    @include lView {
      display: none;
    }
  }

  .logotype__img>path {
    &:nth-child(1) {
      fill: $main-color;
      transition: 0.3s;
    }
  }

  .logotype__link {
    display: none;

    @include lView {
      display: block;
    }

    &:hover {
      .logotype__img>path {
        &:nth-child(1) {
          fill: $second-color;
          transition: 0.3s;
        }
      }
    }

    &:active {
      opacity: 0.6;
    }
  }
}
