.logo__link {
  display: grid;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;

  @include mView {
    grid-auto-flow: column;
    gap: 20px;
  }

  .logo__img {
    width: 66px;
    height: 66px;
    margin: 0 auto;

    svg {
      width: 100%;
      height: 100%;
      fill: $light-text-color;
    }
  }

  .logo__name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: $light-text-color;

    @include mView {
      align-items: flex-start;
      justify-content: flex-start;
      text-align: left;
    }
  }

  .logo__text {
    font-size: 12px;
    margin: 0;
    font-weight: 300;
    margin-bottom: 3px;
  }

  .logo__subtext {
    font-size: 16px;
    margin: 0;
    font-weight: 500;
  }

  svg path {
    fill: $bg-card;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo_header {
  .logo__link {
    grid-auto-flow: row;
    display: inline-grid;
    gap: 10px;
    grid-auto-flow: row;

    .logo__name {
      color: $dark-text-color;
      justify-content: center;
      align-items: center;
      max-width: inherit;
      color: $dark-text-color;

      @include mView {
        max-width: 600px;
      }

      .logo__text {
        font-size: 12px;
        text-align: center;

        @include mView {
          font-size: 16px;
        }
      }

      .logo__subtext {
        font-size: 16px;
        text-align: center;

        @include mView {
          font-size: 22px;
        }
      }
    }
  }

  .logo__img {
    width: 66px;
    height: 66px;

    @include mView {
      width: 88px;
      height: 88px;
    }
  }

  @include lView {
    display: none;
  }

  .logo__box {
    width: 88px;
    height: 88px;
    margin: 0 auto;
  }

  .logo__img {
    svg {
      fill: $main-color;
    }
  }

}

.logo_notactive {
  animation: show 0.5s alternate ease-in-out;
}

.logo_header.logo_active {
  .logo__link {
    z-index: 110;
  }

  .logo__img {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    fill: $light-text-color;
    animation: show 0.5s alternate ease-in-out;

    svg {
      fill: $light-text-color;
    }
  }

  .logo__name {
    opacity: 0;
    transition: 0.1s;
    visibility: hidden;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
