.nav {
  background-color: $main-color;
  position: fixed;
  top: 62px;
  left: 0;
  width: 100%;
  z-index: 130;
  overflow: auto;
  padding-bottom: 60px;
  display: inline-block;
  height: calc(100vh - 62px);
  transition: .3s .9s;
  transform: translateX(-200%);

  @include lView {
    background-color: $main-color;
    margin-left: -10px;
    z-index: 100;
    position: sticky;
    top: 0;
    overflow: inherit;
    padding-bottom: 0;
    height: auto;
    transform: none;
    transition: none;
  }

  .nav__list {
    @include reset-list;
    padding: 20px 0;

    @include lView {
      padding: 0;
      display: flex;
    }
  }

  .nav__item {
    opacity: 0;
    transform: translateX(-30%);
    transition: all 0.3s;

    @include lView {
      opacity: 1;
      transform: inherit;
      transition: none;
    }

    @include lView {
      &:nth-child(2) {
        position: static;
      }

      &:nth-child(4) {
        .sub-nav {
          left: -135px;
        }

        .sub-nav__list {
          width: 600px;
        }
      }

      &:nth-child(5) {
        .sub-nav {
          left: -226px;
        }

        .sub-nav__list {
          width: 480px;
        }
      }
    }

    &:nth-child(7),
    &:nth-child(8) {
      .sub-nav {
        @media screen and (max-width: 1380px) {
          right: -10px;
          left: auto;
        }
      }
    }

    @include lView {
      position: relative;
      transition: background-color 0.3s ease-in-out 0.1s;

      &:hover {
        background-color: $second-color;
        transition: 0.3s;

        .sub-nav,
        .faculty-list {
          visibility: visible;
          transition: visibility 0.2s linear, opacity 0.2s linear, top 0.2s;
          opacity: 1;
          top: 31px;
        }

        .faculty-list {
          top: 41px;
        }
      }
    }
  }

  @for $i from 1 to 9 {
    .nav__item:nth-child(#{$i}) {
      transition-delay: calc($i / 10) +0.1s;
    }
  }

  .nav__item_active {
    .faculty-list__link {
      padding: 10px 10px;
      font-size: 16px;
    }

    .department-list__link {
      padding: 5px 5px 5px 30px;
      font-size: 14px;
    }

    .sub-nav {
      .sub-nav__link {
        padding: 5px 5px;
        font-size: 16px;
      }
    }
  }

  .nav__link {
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 500;
    color: $light-text-color;

    &:hover {
      text-decoration: underline;
    }

    @include lView {
      &:hover {
        text-decoration: none;
      }
    }

    @media screen and (max-width: 1150px) {
      padding: 10px 9px;
    }
  }
}

.header__nav_active {
  transition: 0.3s;
  transform: translateX(0%);

  .nav__item {
    opacity: 1;
    transition: all 0.3s;
    transform: translateX(0%);
  }

  @for $i from 1 to 9 {
    .nav__item:nth-child(#{$i}) {
      transition-delay: calc($i / 10) +0.1s;
    }
  }
}
