.news-nav {
  display: grid;
  align-items: center;
  grid-template-rows: auto auto;
  gap: 0px;

  @include mView {
    gap: 10px;
  }

  @include mView {
    grid-template-rows: none;
    grid-template-columns: 1fr minmax(100px, auto);
  }

  .news-nav__list {
    @include reset-list;
    display: grid;
    grid-auto-columns: max-content;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, 270px);

    @include lView {
      grid-template-columns: none;
      grid-auto-flow: column;
    }
  }

  .news-nav__all {
    justify-self: self-start;

    @include lView {
      text-align: right;
      justify-self: self-end;
    }
  }
}
