.social {
  @include reset-list;
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  align-items: center;
  grid-auto-columns: max-content;

  @include lView {
    gap: 0;
  }

  .social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding: 10px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  svg {
    fill: $light-text-color;
    display: flex;
    align-items: center;
    fill: $light-text-color;
  }
}
