.footer {
  background-color: $second-color;

  .footer__container {
    @include mView {
      max-width: 700px;
    }

    @include lView {
      max-width: 1480px;
    }
  }

  .footer__top {
    @include lView {
      display: grid;
      grid-template-columns: minmax(560px, 570px) 1fr;
      gap: 20px;
    }
  }

  .footer__contacts {
    display: grid;

    @include lView {
      grid-template-columns: 1fr auto;
      grid-template-rows: auto auto auto;
      row-gap: 20px;
      column-gap: 20px;
    }
  }

  .footer__logo {
    padding-bottom: 10px;

    @include mView {
      justify-content: flex-start;
    }

    @include lView {
      padding-bottom: 0;
      grid-area: 1 / 1 / 2 / 3;
    }
  }

  .footer__adress {
    max-width: 255px;
    margin: 0 auto;
    padding: 10px 0;

    @include mView {
      margin: 0;
    }

    @include lView {
      padding: 0;
      grid-area: 2 / 1 / 3 / 2;
      max-width: 320px;
    }
  }

  .footer__social {
    justify-content: center;
    padding-bottom: 15px;

    @include mView {
      justify-content: flex-start;
    }

    @include lView {
      padding-bottom: 0;
      grid-area: 2 / 2 / 3 / 3;
      margin-top: -18px;
      margin-right: -13px;
    }
  }

  .footer__top {
    padding: 30px 0;
  }

  .footer__bottom {
    padding: 15px 0;
  }

  .footer__bottom {
    background-color: $main-color;
  }

  .footer__connection {
    padding: 25px 0 25px 0;

    @include lView {
      padding: 0;
      grid-area: 3 / 1 / 4 / 3;
    }
  }

  .footer__social_line {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $light-text-color;
      bottom: 0;
    }

    @include lView {
      &::after {
        display: none;
      }
    }
  }

  .footer__info {
    padding-top: 25px;

    @include lView {
      padding-top: 0;
      display: grid;
      align-items: flex-start;
      grid-template-rows: auto auto;
      grid-template-rows: max-content;
      justify-content: flex-end;
    }

    @media screen and (min-width: 1350px) {
      grid-template-columns: auto auto;
      gap: 30px;
    }
  }
}
